.header {
    margin-bottom: 32px;
}

.demo {
    display: flex;
    gap: 24px;
    border: 10px solid #ececec;
    border-radius: 8px;
    padding: 24px;
}

.demo > * {
    flex-basis: 0;
    flex-grow: 1;
}

.codeSample {
    margin: 0;
    padding: 16px;
    border-radius: 4px;
    background-color: #202020;
    color: white;
}
